{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="{{ path('_admin_index') }}">Dashboard</a></li>
              <li><a href="{{ path('_post_list') }}">Posts</a></li>
              <li><a href="{{ path('_comments_list') }}">Comments</a></li>
              <li><a href="#">Config</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h2>Dashboard</h2>
            <p>Awesome Dashboard Content!!1!</p>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

        {% include "BlogBundle::footer.html.twig" %}
{% endblock %}   