{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
    {% for post in posts %}
	<article>
		<header>
			<h1>{{ post.title }}</h1>
		</header>
		<p>{{ post.content }}</p>
		<footer>
			<p>Published
			<time datetime="{{ post.dateCreated|date("F jS \\a\\t g:ia") }}" pubdate>{{ post.dateCreated|date("F jS \\a\\t g:ia") }}
			</time>
			</p>
		</footer>
	</article>
    {% endfor %}

        {% include "BlogBundle::footer.html.twig" %}
    </div> <!-- /container -->

{% endblock %}   